{% extends 'mail_service/base.html' %}

{% block title %}Список рассылок{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if request.user.is_superuser %}
            <div class="row mb-4">
                <div class="col-md-12">
                    <h2 class="mb-4">Статистика рассылок</h2>
                    <p>Всего рассылок: {{ all }}</p>
                    <p>Активных рассылок: {{ active }}</p>
                    <p>Уникальных клиентов для рассылок: {{ clients_count }}</p>
                </div>
            </div>
            {% endif %}
            <h2 class="mb-4">Список рассылок</h2>
            <a class="btn btn-primary mb-4" href="{% url 'mail_service:mailing_create' %}">Создать новую рассылку</a>
            {% if mailings %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата и время начала</th>
                    <th scope="col">Периодичность</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for mailing in mailings %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ mailing.start_datetime }}</td>
                    <td>{{ mailing.get_frequency_display }}</td>
                    <td>{{ mailing.get_status_display }}</td>
                    <td>
                        <a href="{% url 'mail_service:mailing_view' pk=mailing.pk %}" class="btn btn-sm btn-info">Подробнее</a>
                        <a href="{% url 'mail_service:mailing_delete' pk=mailing.pk %}" class="btn btn-sm btn-danger">Удалить</a>
                        {% if mailing.status == 'created' %}
                        <form action="{% url 'mail_service:mailing_start' pk=mailing.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-success">Запустить</button>
                        </form>
                        {% elif mailing.status == 'started' %}
                        <form action="{% url 'mail_service:mailing_stop' pk=mailing.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-warning">Завершить</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Нет доступных рассылок. <a href="{% url 'mail_service:mailing_create' %}">Создать новую</a>.</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">Случайные статьи из блога</h2>
            <div class="row">
                {% for blog in blogs %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="{% url 'blog:blog_detail' pk=blog.pk %}">
                            {% if blog.image %}
                            <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.title }}">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'blog:blog_detail' pk=blog.pk %}">{{ blog.title }}</a></h5>
                            <p class="card-text">{{ blog.content|truncatewords:20 }}</p>
                            <p class="card-text"><small class="text-muted">Просмотры: {{ blog.count_of_view }}</small></p>
                            <p class="card-text"><small class="text-muted">Дата публикации: {{ blog.date }}</small></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
