{% extends 'mail_service/base.html' %}

{% block title %}Подтверждение удаления рассылки{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mb-4">Вы уверены, что хотите удалить эту рассылку?</h2>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Да, удалить</button>
                <a href="{% url 'mail_service:mailing_list' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
